<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Utility Variables</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <style>
      /* Test ONLY Styles */
      * {  box-sizing: border-box; }
      html, body { padding: 0; margin: 0; }
    </style>
  </head>

  <body>

  </body>
</html>
