// Default Box sizing
// =================================================
$wvu-border-box-sizing: true !default;

// Default Base font size
// =================================================
$wvu-base-font-size: 16px !default;

// Default z-index
// =================================================
$wvu-base-z-index: 0 !default;

// Default border-radius
// =================================================
$wvu-base-border-radius: 3px !default;
