// Flying WVU Logo
//==================================================

$flying-wv: 'https://patterns.wvu.edu/images/flying-wv.png' !default;
$flying-wv-blue: 'https://patterns.wvu.edu/images/flying-wv-blue.png' !default;


// Flying WV Logos with Signatures
//==================================================

$flying-wv-w-signature: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;
$flying-wv-w-signature-gold-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-gold-bg.png' !default;
$flying-wv-w-signature-white-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-white-bg.png' !default;
// WVU Tech Flying WV Logos 
$flying-wv-w-signature--tech: 'https://patterns.wvu.edu/images/flying-wv-w-signature--tech.png' !default;
$flying-wv-w-signature-gold--tech: 'https://patterns.wvu.edu/images/flying-wv-w-signature-gold-bg--tech.png' !default;
$flying-wv-w-signature-white--tech: 'https://patterns.wvu.edu/images/flying-wv-w-signature-white-bg--tech.png' !default;


// Brand Pattern Backgrounds
//=================================================

$wvu-pattern-blue-bg: 'https://patterns.wvu.edu/images/pattern-blue.jpg' !default;
$wvu-pattern-gold-bg: 'https://patterns.wvu.edu/images/pattern-gold.jpg' !default;


// Brand Diagonal
//=================================================

$wvu-diagonal-line-gold: 'https://patterns.wvu.edu/images/diagonal-gold.svg' !default;
$wvu-diagonal-line-blue: 'https://patterns.wvu.edu/images/diagonal-blue.svg' !default;
$wvu-diagonal-line-white: 'https://patterns.wvu.edu/images/diagonal-white.svg' !default;
$wvu-diagonal-line-gold-transparent: 'https://patterns.wvu.edu/images/diagonal-gold-transparent.svg' !default;
$wvu-diagonal-line-blue-transparent: 'https://patterns.wvu.edu/images/diagonal-blue-transparent.svg' !default;
$wvu-diagonal-line-white-transparent: 'https://patterns.wvu.edu/images/diagonal-white-transparent.svg' !default;
$wvu-diagonal-line-gold-fallback: 'https://patterns.wvu.edu/images/diagonal-gold.png' !default;
$wvu-diagonal-line-blue-fallback: 'https://patterns.wvu.edu/images/diagonal-blue.png' !default;
$wvu-diagonal-line-white-fallback: 'https://patterns.wvu.edu/images/diagonal-white.png' !default;
$wvu-diagonal-line-gold-transparent-fallback: 'https://patterns.wvu.edu/images/diagonal-gold-transparent.png' !default;
$wvu-diagonal-line-blue-transparent-fallback: 'https://patterns.wvu.edu/images/diagonal-blue-transparent.png' !default;
$wvu-diagonal-line-white-transparent-fallback: 'https://patterns.wvu.edu/images/diagonal-white-transparent.png' !default;


// Icons
$wvu-search-icon: "https://patterns.wvu.edu/images/search-icon.png" !default;
