// WVU Color Pallette
//==================================================

// Primary Colors
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral Colors
$wvu-white: #FFFFFF;
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

// Accent Colors
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;


// Color Aliases
//==================================================
$wvu-neutral-dark-grey: $pms-432-c;
$wvu-neutral-light-grey: $pms-429-c;
$wvu-neutral-warm-dark-grey: $pms-warm-gray-11;
$wvu-neutral-warm-medium-grey: $pms-warm-gray-7;
$wvu-neutral-warm-light-grey: $pms-warm-gray-3;

$wvu-accent-dark-blue: $pms-286-c;
$wvu-accent-medium-blue: $pms-300-c;
$wvu-accent-light-blue: $pms-629-c;
$wvu-accent-brown: $pms-7554-c;
$wvu-accent-dirty-orange: $pms-7557-c;
$wvu-accent-orange: $pms-144-c;
$wvu-accent-teal-green: $pms-7476-c;
$wvu-accent-xanadu-green: $pms-5625-c;
$wvu-accent-sea-foam-green: $pms-558-c;
$wvu-accent-red: $pms-180-c;
$wvu-accent-dark-orange: $pms-166-c;
$wvu-accent-yellow: $pms-115-c;


// Generic Grey Tones
//==================================================

// TODO: Come to a consensus on if these are the grey tones we should be using.
// TODO: Identify all the areas in which these grey variations are being used.
$wvu-light-grey: #CCCCCC;
$wvu-lighter-grey: #DDDDDD;
$wvu-lightest-grey: #EEEEEE;

$wvu-dark-grey: #555555;
$wvu-darker-grey: #444444;
$wvu-darkest-grey: #333333;


// Font Color Defaults
//==================================================

$wvu-base-font-color: $wvu-black !default;
$wvu-base-accent-color: $pms-300-c !default;

// Link Color Defaults
//==================================================

$wvu-base-link-color: $wvu-base-accent-color  !default;
$wvu-base-link-hover-color: $pms-166-c !default;
$wvu-base-link-visited-color: $pms-286-c !default;

// Border Color Default
//==================================================

$wvu-base-border-color: $wvu-light-grey !default;

// Shadow Color Default
//==================================================

$wvu-base-shadow-color: rgba($wvu-black, 0.06);
